* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Libre Baskerville", serif;
  background-color: #fceded;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.content {
  background: #fff;
  display: flex;
  margin: 0 auto;
}

.sidebar {
  background: #fca5a5;
  width: 350px;
}

.my-photo {
  width: 350px;
}

.about-me-container {
  padding: 100px;
}

.contacts-container {
  padding-left: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

h2 {
  padding-top: 25px;
  padding-bottom: 20px;
}

.contacts-title {
  padding-bottom: 20px;
}

.my-name {
  font-size: 20px;
  padding-bottom: 30px;
}

.contacts-link {
  padding-bottom: 15px;
  list-style: none;
}

.summary {
  display: block;
  width: 550px;
}

.header,
.footer {
  display: flex;
  background-color: #eae8f8;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.footer {
  justify-content: space-around;
}

.github-image {
  width: 25px;
  height: 25px;
}

.rs-image {
  width: 50px;
  height: 50px;
}

.my-code {
  height: 210px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-item {
  font-size: 25px;
  list-style: none;
  padding-right: 80px;
}

.header-item:last-child {
  padding-right: 0;
}

.header-link {
  line-height: 25px;
  letter-spacing: 2px;
  list-style: none;
  text-decoration: none;
  color: #000;
}

.header-link:hover,
.header-link:focus,
.header-link:active {
  opacity: 0.5;
}

.museum-project,
.vertical-slider-project {
  max-width: 550px;
  height: 270px;
  opacity: 0.4;
  transition: all 0.3s ease;
}

.museum-project:hover,
.vertical-slider-project:hover {
  transform: scale(1.1);
}

.project-wrapper {
  position: relative;
  display: block;
}

.technology {
  position: absolute;
  top: 220px;
  left: 30px;
  background-color: #2d2b57;
  color: #fff;
  padding: 5px 5px;
}

.project-name {
  position: absolute;
  top: 50px;
  left: 30px;
  background-color: #2d2b57;
  color: #fff;
  padding: 5px 5px;
}

.description-museum {
  margin-top: 10px;
  margin-bottom: 25px;
}

.description-vertical-slider {
  margin-top: 10px;
}
